 <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
      <h1>All Games on Offer</h1>
      <ul>
        <% @tables.each do |table|  %>
        <li>
          <h2><%= table.user.email %> </h2>
          <p><%= table.address %></p>
          <% if table.rating %>
          <% table.rating.times do %>
          ★
            <% end %>
          <% end %>
          <%= link_to "See more", table_path(table)  %>
        </li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>



<!-- List all offer cards:
 -->
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
