 <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 offset-md-3 grid-container-centre">
        <h1>All Games on Offer</h1>

          <div class="cards justify-content-between grid-container">
            <% @tables.each do |table|  %>

            <div class="card-product grid-items">
              <%= cl_image_tag table.picture.key %>
              <div class="card-product-infos d-flex flex-column justify-content-between h-100 w-100 pb-0">

                <h2>Game Name</h2>
                <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />

                <p><b> Description:</b></p>
                <p class="mt-0"> <%= table.description %></p>
                <p class="mt-6"><b>Adress:</b>
                <p class="mt-0"> <%= table.address %></p>

                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <div class="clip-star"></div>
                    <div class="clip-star"></div>
                    <div class="clip-star"></div>
                    <div class="clip-star"></div>
                    <div class="clip-star"></div>
                  </div>
                  <div class="">
                    <a class="btn btn-chat mb-1" href="#">Start chat<%table.user.email%></a>
                    <a class="btn btn-flat mb-1" href="#">Book game</a>
                  </div>
                </div>
              </div>
            <%= link_to "See more", table_path(table)  %>
            </div>


          <% end %>
          </div>

      </div>
    </div>
  </div>



<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

