 <div class="container mt-3 pt-3 w-100 h-100">
    <div class="row">
      <div class="col-12 col-md-12 offset-md-3 grid-container-centre">
        <h1 class="d-flex justify-content-center mb-3">All games in your area:</h1>

          <div class="cards justify-content-between grid-container ">

            <% @tables.each do |table|  %>
              <div class="card-product-index grid-items">
                <div class="img-index img-offer" style="width: 400px;">
                   <%= cl_image_tag table.picture.key, crop: :fit %>
                </div>

                <div class="card-product-infos-index d-flex flex-column justify-content-center h-100 w-100 pb-0">
                  <h2 class="mb-2"><%= table.name %></h2>
                  <div>
                    <img class="avatar-bordered" alt="avatar-bordered"
                      <% if user_signed_in? %>
                         <%= cl_image_tag current_user.user_picture, class:"avatar dropdown-toggle", id:"navbarDropdown", data: {toggle:"dropdown"} %>
                      <% end %>
                      >
                  </div>

                  <p class="mt-0 mb-3"><b> "<%= table.description %>" </b></p>
<!--                   <p class="mt-6"><b>Adress:</b>
 -->                  <p class="mt-0 "><%= table.address %></p>

                  <div class="d-flex justify-content-between align-items-center inline-block">
                    <div class="d-flex flex-column">
                      <!-- <p class="pb-1">Player level:</p>
                      <div class="d-flex">
                        <div class="clip-star"></div>
                        <div class="clip-star"></div>
                        <div class="clip-star"></div>
                        <div class="clip-star"></div>
                        <div class="clip-star"></div>
                      </div> -->
                      <div class="link-index mb-3">
                        <%= link_to "Find out more!", table_path(table) %>
                      </div>
                    </div>
                    <div class="">
                      <!-- <a class="btn btn-chat mb-1" href="#">Start chat<%table.user.email%></a> -->
                      <!-- <a class="btn btn-flat mb-1" href="#">Find out more!</a> -->
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>



<div id="map"
     style="width: 100%; height: 400px; margin-top: 100px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

