<!-- Show new created offer
 -->
<div class="container mt-3 pt-3 w-100 h-100">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card-product">

        <div class ="img img-offer">
          <%= cl_image_tag @table.picture.key, crop: :fill %>
        </div>

        <div class="card-product-infos d-flex flex-column justify-content-between h-100 w-100 pb-0">
          <h2><%= @table.name %></h2>
           <div>
             <img class="avatar-bordered" alt="avatar-bordered"
              <% if user_signed_in? %>
                 <%= cl_image_tag current_user.user_picture, class:"avatar dropdown-toggle", id:"navbarDropdown", data: {toggle:"dropdown"} %>
              <% end %>
              >
            </div>

          <p><b> Description:</b></p>
          <p class="mt-0"> <%= @table.description %></p>
          <p class="mt-6"><b>Adress:</b>
          <p class="mt-0"> <%= @table.address %></p>
<!--           <p class="mt-0"><%= @table.user.email %></p>
 -->
          <div class="d-flex justify-content-between align-items-center inline-block">
            <div>
              <p class="pb-1">Player level:</p>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
              <div class="link">
                <%= link_to "Back to home", tables_path %>
              </div>
            </div>
            <div class="">
              <a class="btn btn-chat mb-1" href="#">Start chat<%@table.user.email%></a>
              <a class="btn btn-flat mb-1" href="#">Book game</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mt-3 pt-3 w-100 h-100">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <h2>Book a new game!</h2>
        <div class="container">
          <%= simple_form_for [@table, @booking] do |f| %>
            <%= f.input :start_date, label: 'Choose a date' %>
            <%= f.submit "Submit", class:'btn btn-primary w-100' %>
          <% end %>
        </div>
    </div>
  </div>
</div>




